{{ partial "header" . }}

<section class="container clearfix">
    <main role="main" class="content">
        <article class="post">
            {{ partial "article-header" . }}
            {{ .Content}}
            {{ partial "article-share" . }}
            {{ partial "article-navigation" . }}
        </article>
        {{ if .Site.DisqusShortname }}
        {{ if cond (isset .Params "comments") .Params.comments true }}
        <div class="comments">
            <h3>{{ .Site.Data.l10n.comments.comments }}</h3>
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
        {{ end }}
    </main>

    {{ partial "aside" . }}
</section>

{{ partial "footer" . }}
